/*----- global -----*/
*{
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-family: Circular Std,sans-serif;
}
body {
  width: 100%;
  background-image: url(img/);
  background-repeat: no-repeat;
  background-size: contain;
}
input{
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 50px;
  cursor: pointer;
}
form input{
  text-align: right;
  width: 245px;
  cursor: default;
  color: #eee;
  padding: 50px 0px 0px 0px;
  font-size: 24px;
  font-weight: 400;
}
td {
  background-color: #D8D8D8;
}
/*----- containers -----*/
.wrapper {
  display: flex;
  justify-content: center;
}
.calculator {
  margin-top: 150px;
  background-color: #000;
  border-radius: 10px 10px 0px 0px;
}
/*----- Calculation Operators -----*/
input[value="/"], input[value="*"],input[value="-"],input[value="+"],input[value="="]{
  background-color: #F79231;
  color: #fff;
}
/*----- appended -----*/
.append{
  width: 60px;
  height: 50px;
  background-color:#fff;
  opacity: 0.6;
}
